* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    text-align: center;
    margin: 20px 0px;
}
.main-container {
    width: 95vw;
    height: 1300px;
    /* border: 1px solid teal; */
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 5px; */
}
.product-item {
    width: 180px;
    height: 280px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px gray;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}
.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px blue;
}
.product-image {
    width: 100px;
    height: 100px;
}
.product-title {
    font-size: 12px;
    padding: 5px 10px;
    text-align: center;
}
.product-cat {
    font-size: 14px;
    font-weight: 600;
    color: gray;
}
.product-price {
    padding: 10px;
}
.buy-btn {
    border: none;
    padding: 5px 20px;
    background-color: #003092;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.buy-btn:hover {
    background-color: #023cae;
}